.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}
.img {
  width: 100%;
  object-fit: cover;
}
.font-0 {
  font-size: 0;
}

.width-40 {
  width: 40%;
  margin: 0 auto;
}
.cart {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  background-color: rgb(245, 243, 243);
}
.active {
  color: red;
}
